<h1>Players</h1>
<a routerLink="/players/add" class="btn btn-sm btn-success mb-2">Add Player</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Team</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.firstName }} {{ player.lastName }}</td>
      <td>{{ player.email }}</td>
      <td>{{ player.teamId }}</td>
      <td>
        <a [routerLink]="['edit', player.id]" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deletePlayer(player.id)" class="btn btn-sm btn-danger" [disabled]="player.isDeleting">
                    <span *ngIf="player.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!player.isDeleting">Delete</span>
                </button>
      </td>
    </tr>
  </tbody>
</table>
